@import "../../../../assets/css/variables";

.sku-details {

  table {
    margin-top: 15px;
    width: auto;

    thead {
      th {
        width: 100px;
      }
    }
  }

  tr {
    td.bu-row {
      background-color: $color-abbott-light-gray;
    }

    td.total {
      font-weight: bold;
    }
  }
}

.inner-table-wrapper {
  padding: 0 !important;
  border: none !important;
}


