<ng-container *ngIf="bonusAgreement">
  <div class="container bonus-agreement-content">
    <div class="content-header">
      <div class="row">
        <div class="col-md-6">
          <h3 class="title">Бонусное соглашение</h3>
        </div>
        <div class="col-md-6">
          <app-document-version
                  *ngIf="bonusAgreement.documentService"
                  [activity]="bonusAgreement">
          </app-document-version>
        </div>
      </div>
    </div>

    <app-entity-header
        #entityHeaderComponent
        [data]="entityHeader"
        [entity]="bonusAgreement"
        (approval)="approval($event, 3)"
        (currency)="currency($event)"
        [stepActiveIndex]="stepActiveIndex">
    </app-entity-header>

    <div [ngSwitch]="stepActiveIndex">
      <div *ngSwitchCase="0">
        <app-activity-bonus-agreement-common
            #innerFormComponent
            [bonusAgreement]="bonusAgreement">
        </app-activity-bonus-agreement-common>
      </div>

      <div *ngSwitchCase="1">
        <app-activity-bonus-agreement-drugs-group
            #innerFormComponent
            [bonusAgreement]="bonusAgreement">
        </app-activity-bonus-agreement-drugs-group>
      </div>

      <div *ngSwitchCase="2">
        <app-activity-bonus-agreement-drugs-details
            #innerFormComponent
            [bonusAgreement]="bonusAgreement">
        </app-activity-bonus-agreement-drugs-details>
      </div>

      <div *ngSwitchCase="3">
        <app-activity-akam-agreement
                [activity]="bonusAgreement">
        </app-activity-akam-agreement>
      </div>

      <div *ngSwitchCase="4">
        <app-activity-bonus-agreement-fines
                [bonusAgreement]="bonusAgreement">
        </app-activity-bonus-agreement-fines>
      </div>

      <div *ngSwitchCase="5">
          <app-activity-bonus-agreement-docs-and-results
                  [bonusAgreement]="bonusAgreement"></app-activity-bonus-agreement-docs-and-results>
      </div>
    </div>

    <div class="common-form-btn-group">
      <button class="btn btn-orange"
              (click)="cancel()">Отмена
      </button>
      <button class="btn btn-blue btn-primary"
              *ngIf="isPrevStep"
              (click)="prev()">Вернутся
      </button>
      <button class="btn btn-blue btn-primary"
              *ngIf="isNextStep"
              (click)="next()">Далее
      </button>
      <button class="btn btn-blue btn-primary"
              *ngIf="isLastStep"
              (click)="save()">Сохранить
      </button>
      <button class="btn btn-primary btn-green btn-approval"
              *ngIf="stepActiveIndex == 3 && bonusAgreement.isApproval"
              (click)="sendManager()">Сохранить и отправить руководителю
      </button>
    </div>
  </div>
</ng-container>
