
/*ADD style to select*/
.select-dropdown{ width:100%; top:21px;}

.select-wrap
{
   position:relative;
   cursor:default;
   display:block;
   width:100%;        
	border:1px solid #e2e2e2;
   border-radius:0px;
}


.select-option,
.select-dropdown,
.select-wrap,
.select-option,
.select-title {
    height:19px;
    line-height:19px;
}
.select-option,
.select-title,
.select-option{ padding-left: 10px; 
   color:#231f20;
   font-family:Tahoma;	 
   font-size:10px;   
}
        

.select-title
{    
    background: #fff;    
    display:block;
    color:#231f20;
    font-family:Tahoma;	 
    font-size:10px;       
}
.select-button
{
	position:absolute;
    right:1px;
    top:1px;
    cursor:pointer;
    width:17px;
    height:17px;
    display:block;
    border:none;
    background: url(../images/bg/selectbutton.png) no-repeat;            
} 
.select-dropdown
    {
    position: absolute;
    z-index: 300;
    left:0;
    background:#fff;                
    color:#281311;
    font-family:Tahoma;
    }
.select-option{ cursor:pointer; margin-top:-1px; 
        border: 1px solid #e2e2e2;
                background: #fff;

}
.select-option:hover{ color:#000; background:#FF0;}

/*ADD style to select*/