.e-commerce-results-content{
  .document-content {
    label{
      margin: 0;
    }

    .contract-item{
      .error{
        position: absolute;
        right: 0;
      }
    }

    .form-control{
      width: 80px!important;
      min-width: 80px!important;
    }

    p-calendar{
      &>span{
        width: 125px;
      }
      input{
        width: 110px;
      }
    }
  }

  .total {
    table td{
      text-align: center;
      vertical-align: middle;
      label{
        font-weight: bold;
      }
    }
  }

  .row-item{
    .item{
      display: flex;
      align-items: center;
    }
  }
}
