/*NEWS*/
td.width_talk{
	width:190px;
	padding:0 5px;
	}
/********/

.RIGHT-COL{
	width:240px;
	}
.MIDDLE-COL{
	margin-left:0px;
	}
.CENTER{
	padding:5px 0px 0 10px;
	margin-right:245px;
	}
/*pereopredelenie*/

.gorizontal li{ display:inline; padding:0 8px 0 0;}


/*NEWS*/
.news_chas{
	position:relative;
	background:#EAEFDB;
	padding:12px 6px;	
	}
.news_chas h2{
	font:bold 16px Arial;
	color:#000;
	padding:0 0 5px 0;
	}
	
.news_chas i.u1,
.news_chas i.u2,
.news_chas i.u3,
.news_chas i.u4{
	display:block;
	position:absolute;
	width:5px;
	height:5px;
	font-size:0;
	}
.news_chas i.u1{ left:0px; top:0; background:url(../img/slices/ugol.jpg) no-repeat;}
.news_chas i.u2{ right:0px; top:0; background:url(../img/slices/ugol.jpg) no-repeat -5px 0;}
.news_chas i.u3{ right:0px; bottom:0; background:url(../img/slices/ugol.jpg) no-repeat -5px -5px;}
.news_chas i.u4{ left:0px; bottom:0; background:url(../img/slices/ugol.jpg) no-repeat 0 -5px;}

.news_chas .news_single_image td div{
	background:#fff;
	font:100 10px Arial;
	color:#66695E;
	padding:8px;
	margin-bottom:10px;
	}
.news_chas .news_single_image td a.img{
	float:left;
	padding:0 5px 10px 0;
	}
	
.news_chas .news_single_image td div a:link,
.news_chas .news_single_image td div a:visited{
	font:100 10px Arial;
	text-decoration:underline;
	}
.news_chas .news_single_image td div a:hover{text-decoration:none;}


.news_chas .news_single_image td div  a.comments:link,
.news_chas .news_single_image td div  a.comments:visited{
	text-decoration:none;
	}
.news_chas p{
	font:100 11px Arial;
	padding:0 0 5px 0;
	}
.news_chas address{
	font:100 11px Arial;
	font-style:normal;
	}
/*****************/
ul.spisok li{
	background:url(../img/icon/punkt.jpg) no-repeat 0 5px;
	padding:0 0 5px 15px;
	font:100 10px Arial;
	color:#66695E;
	}

ul.spisok li a.comments:link,
ul.spisok li a.comments:visited{
	text-decoration:none;
	}
	
ul.spisok li a:link,
ul.spisok li a:visited{
	font:100 12px Arial;
	text-decoration:underline;
	}
ul.spisok li a:hover{text-decoration:none;}
/***********/
.struct_novunu td.tdnews_chas{
	width:200px;
	padding:0 0 0 5px;
	}

/**all_news****/
.all_news{
	border-top:1px dotted #4C4C4C;	
	border-bottom:1px dotted #4C4C4C;	
	}
.all_news td{
	padding:5px 0;
	font:100 10px Arial;
	color:#66695E;
	}
.all_news td a.img{
	float:left;
	}
.all_news td a.img img{
	padding:0 5px 0 0;
	}

.all_news td a.comments:link,
.all_news td a.comments:visited{
	text-decoration:none;
	}
	
.all_news td a:link,
.all_news td a:visited{
	font:100 12px Arial;
	text-decoration:underline;
	}
.all_news td a:hover{text-decoration:none;}

.all_news td p{
	font:100 12px Arial;
	color:#000;
	padding:5px 0;
	}
/**************/

.list_nov td{
	padding:5px 0;
	font:100 10px Arial;
	color:#66695E;
	}
.list_nov td h2{
	font:100 10px Arial;
	color:#66695E;
	}
.list_nov td a.img{
	float:left;
	}
.list_nov td a.img img{
	padding:0 5px 0 0;
	}

.list_nov td a.comments:link,
.list_nov td a.comments:visited{
	text-decoration:none;
	}
	
.list_nov td a:link,
.list_nov td a:visited{
	font:100 12px Arial;
	text-decoration:underline;
	}
.list_nov td a:hover{text-decoration:none;}

.list_nov td p{
	font:100 12px Arial;
	color:#000;
	padding:5px 0;
	}
/***********/

.two_menu_novun td{
	border-top:1px solid #ccc;
	}
.two_menu_novun td .list_nov td{ border:none;}
.two_menu_novun td.width{
	padding:50px 0 0 5px;
	width:200px;
	}
.two_menu_novun td h3{ padding:0 0 23px 0;}
.two_menu_novun td h3 i{
	float:left;
	background:#529001;
	font:100 16px Arial;
	color:#fff;
	padding:4px 7px;
	margin:0 10px 0 0;
	}
.two_menu_novun td h3 a:link,
.two_menu_novun td h3 a:visited{
	text-decoration:underline;
	}
.two_menu_novun td h3 a:hover{text-decoration:none;}

/*****************/
.additional-block{ border:1px solid #ccc; padding:5px;}
.additional-block p {margin:5px 0; color:#5A5A5A; font: arial, sans-serif;  font-size:12px;}
.additional-block h2, .additional-block h3 {margin: 1em 0 .5em 0;font-weight:bold;font-size: 13px;color:#5A5A5A;}
.additional-block a:link,
.additional-block a:visited{ text-decoration:underline;}
.additional-block a:hover{ text-decoration:none;}

/*NEWS*/
.news_chas{
	position:relative;
	background:#EAEFDB;
	padding:12px 6px;	
	}
.news_chas h2{
	font:bold 16px Arial;
	color:#000;
	padding:0 0 5px 0;
	}
	
.news_chas i.u1,
.news_chas i.u2,
.news_chas i.u3,
.news_chas i.u4{
	display:block;
	position:absolute;
	width:5px;
	height:5px;
	font-size:0;
	}
.news_chas i.u1{ left:0px; top:0; background:url(../img/slices/ugol.jpg) no-repeat;}
.news_chas i.u2{ right:0px; top:0; background:url(../img/slices/ugol.jpg) no-repeat -5px 0;}
.news_chas i.u3{ right:0px; bottom:0; background:url(../img/slices/ugol.jpg) no-repeat -5px -5px;}
.news_chas i.u4{ left:0px; bottom:0; background:url(../img/slices/ugol.jpg) no-repeat 0 -5px;}

.news_chas .news_single_image td div{
	background:#fff;
	font:100 10px Arial;
	color:#66695E;
	padding:8px;
	margin-bottom:10px;
	}
.news_chas .news_single_image td a.img{
	float:left;
	padding:0 5px 10px 0;
	}
	
.news_chas .news_single_image td div a:link,
.news_chas .news_single_image td div a:visited{
	font:100 10px Arial;
	text-decoration:underline;
	}
.news_chas .news_single_image td div a:hover{text-decoration:none;}


.news_chas .news_single_image td div  a.comments:link,
.news_chas .news_single_image td div  a.comments:visited{
	text-decoration:none;
	}
/*****************/
ul.spisok li{
	background:url(../img/icon/punkt.jpg) no-repeat 0 5px;
	padding:0 0 5px 15px;
	font:100 10px Arial;
	color:#66695E;
	}
ul.spisok li.active{
	background:#fff;
	padding:0 0 5px 15px;
	font:100 10px Arial;
	color:#66695E;
	}
ul.spisok li a.comments:link,
ul.spisok li a.comments:visited{
	text-decoration:none;
	}
	
ul.spisok li a:link,
ul.spisok li a:visited{
	font:100 12px Arial;
	text-decoration:underline;
	}
ul.spisok li a:hover{text-decoration:none;}
/***********/
.struct_novunu td.tdnews_chas{
	width:200px;
	padding:0 0 0 5px;
	}

/************/

.jobs{font-family:arial,sans-serif; font-size:12px;color:#5a5a5a;line-height:1.3;margin:8px 0 20px 0px;}
.jobs span{color:#b10000;}
.jobs h1{
	color:#000;
	font:100 18px Arial;	
	}
/*************/
table.job_table{width:100%;font-family:arial,sans-serif;}
.job_table tr th{padding-left:12px;text-align:center;}
.job_table tr td{padding:8px 0 6px 12px;}
.job_table tr.job_nodd td{background:#f0f0f0;}
.job_table th{font-size:11px;color:#a8a8a8;padding-bottom:3px;}
.job_table td.ratings{text-align:center;}

.job_table td.common-ratings{text-align:center;}

.job_table td a{font-size:14px;color #037dd3;}
.job_table td a.rating{color:#62870e;font-weight:bold;}
.job_table td span{font-size:14px;color:#606060;}

/**********/
.two_job{
	padding:0 0 30px 0;
	}
	
.two_job h2{
	font:normal 18px Arial,Tahoma,Sans-Serif;
	margin-bottom:10px;
	}
.two_job ul{
	margin-bottom:5px;
	}
.two_job ul li{
	padding:0;
	line-height:1;	
	}
	
.two_job ul.bold li a:link,
.two_job ul.bold li a:visited{
	font-weight:bold;	
	}
	
/***********/
.job_banners{ margin:-5px 0 15px 0;}
.job_banners td{ width:20%; padding:0 5px 0 0;}

.job_banners  a{
	text-decoration:underline;
	position:relative;}
.job_search span{
	color:white;
	font-family:arial,sans-serif;
	}
.job_banners a{display:block;
	text-align:center;line-height:1.3;
	height:30px;
	padding:85px 0 15px 0;
	background-repeat:no-repeat;
	background-position:50% 15%;
	}

.job_banners a.on{background-position:50% 40%;}
	

.job_banners td div{
	text-align:center;
	border:1px solid #999;
	height:115px;	
	}
	

/*************/

.moi_obyav{
	position:relative;
	background:#7AA518;
	padding:4px 10px 5px 10px;
	margin:1px 0 10px 0;
	border-top:5px solid #fff;
	}
.moi_obyav i{
	display:block;
	position:absolute;
	width:3px;
	height:3px;
	font-size:0;
	}
.moi_obyav i.u1{ left:0; top:0; background:url(../img/slices/job.jpg) no-repeat;}
.moi_obyav i.u2{ right:0; top:0; background:url(../img/slices/job.jpg) no-repeat -3px 0;}
.moi_obyav i.u3{ right:0; bottom:0; background:url(../img/slices/job.jpg) no-repeat -3px -3px; }
.moi_obyav i.u4{ left:0; bottom:0; background:url(../img/slices/job.jpg) no-repeat 0 -3px;}

.otst{ 	border-top:10px solid #fff;}

.moi_obyav a:link,
.moi_obyav a:visited{
	font:100 12px Arial;
	color:#fff;
	text-decoration:underline;
	}
.moi_obyav a:hover{text-decoration:none;}

.moi_obyav div{
	background: url(../img/button/job/bg.jpg) repeat-x;
	height:30px;
	margin:5px 0 0 0;
	position:relative;
	text-align:center;
	}
.moi_obyav div input{
	border:none;
	background:url(../img/button/job/bg.jpg) repeat-x;
	height:30px;
	width:100%;
	font:bold 14px Arial;
	color:#000;
	text-align:center;
	}
.moi_obyav div span{
	display:block;
	position:absolute;
	width:3px;
	height:30px;
	font-size:0;
	top:0;
	}
.moi_obyav div span.lt{ left:0; background:url(../img/button/job/ug_lt.jpg) no-repeat;}
.moi_obyav div span.rt{ right:0; background:url(../img/button/job/ug_rt.jpg) no-repeat;}

.moi_obyav ul li{
	display:inline;
	font:100 11px Arial;
	color:#C3EA6C;
	padding:0 0 0 15px;
	}
.moi_obyav ul li.line{
	border-right:1px solid #fff;
	padding:0 10px 0 15px;
	}
.moi_obyav ul li a:link,
.moi_obyav ul li a:visited{
	font:100 11px Arial;
	color:#C3EA6C;
	text-decoration:underline;
	}
.moi_obyav ul li a:visited{text-decoration:none;}

.moi_obyav ul li{
	display:inline;
	}
/*****/
.doska_find .bg{
	position:relative;
	background:#7AA518;
	padding:5px 10px 8px 10px;
	margin-bottom:10px;
	text-align:left;
	}
.doska_find i{
	display:block;
	position:absolute;
	width:3px;
	height:3px;
	font-size:0;
	}
.doska_find i.u1{ left:0; top:0; background:url(../img/slices/job.jpg) no-repeat;}
.doska_find i.u2{ right:0; top:0; background:url(../img/slices/job.jpg) no-repeat -3px 0;}
.doska_find i.u3{ right:0; bottom:0; background:url(../img/slices/job.jpg) no-repeat -3px -3px; }
.doska_find i.u4{ left:0; bottom:0; background:url(../img/slices/job.jpg) no-repeat 0 -3px;}

.doska_find ul li{
	font:100 14px Arial;
	color:#fff;
	display:inline;
	}
.doska_find ul li input{
	background:#fff;
	border:1px solid #7F9DB9;
	width:450px;
	height:26px;	
	}

.doska_find div.but{
	position:absolute;
	right:100px;
	top:5px;
	width:77px;
	height:30px;
	}
.doska_find div.but input{
	border:none;
	background:url(../img/button/job/bg.jpg) repeat-x;
	height:30px;
	width:100%;
	font:bold 14px Arial;
	color:#000;
	text-align:center;
	}

.doska_find div.but span{
	display:block;
	position:absolute;
	width:3px;
	height:30px;
	font-size:0;
	top:0;
	}
.doska_find div.but span.lt{ left:0; background:url(../img/button/job/ug_lt.jpg) no-repeat;}
.doska_find div.but span.rt{ right:0; background:url(../img/button/job/ug_rt.jpg) no-repeat;}

/************/
ul.menu{ margin-top:5px;}
ul.menu li{
	font:100 13px Arial;
	color:#fff;
	display:inline;
	text-align:left;
	}	
ul.menu li b{
	padding:0 0 0 27px;
	font-weight:100;
	}	
ul.menu li input{
	font:100 12px Arial;
	height:19px;
	color:#000;
	width:86px;
	}	
ul.menu li select{
	font:100 12px Arial;
	color:#000;
	background:#fff;
	width:150px;
	border:1px solid #7F9DB9;
	}	
/************/

.top_line{
	position:relative;
	height:30px;
	}
.top_line .abs{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:20px;
	}
.top_line ul li{ float:left; 
	padding:0 5px 0 0;
	font:100 14px "Trebuchet MS";
	color:#575654; 
	border-right:1px solid #AFAEAB;
	}
.top_line ul li.end{ 
	border-right:none;
	}
.top_line ul li a:link,
.top_line ul li a:visited{
	float:left;
	display:block;
	color:#037DD3;
	padding:3px 5px;
	background:#fff;
	font:100 12px Arial;
	text-decoration:underline;
	}
.top_line ul li a:hover{
	color:#fff;
	background:#F17E00;
	font:100 12px Arial;
	text-decoration:none;
	}
	
.top_line .right{
	position:absolute;
	right:0;
	top:0;
	width:170px;
	height:20px;
	}
.top_line .right a:link,
.top_line .right a:visited{
	display:block;
	color:#037DD3;
	padding:6px 10px;
	background:#fff;
	font:100 12px Arial;
	text-decoration:underline;
	}
.top_line .right a:hover{
	color:#fff;
	background:#F17E00;
	font:100 12px Arial;
	text-decoration:none;
	}


.top_line ul li.active a:link,
.top_line ul li.active a:visited{
	color:#fff;
	background:#F17E00;
	font:100 12px Arial;
	text-decoration:none;
	}

/**************/
#payed_autocenters {
	position: relative;
	width: auto;
	z-index: 100;
	text-align: justify;
	background: #eaf2da;
	padding: 10px 0 0px 9px;
	font-size: 9px;
	height:70px;
	color: #6a6a6a;
}
#payed_autocenters span {
	overflow: hidden;
	display: inline-block !important;
	display: inline;
	zoom:1;
	margin-right: 2px;
	width:90px;
	text-align: center;
	vertical-align: top;
}
#payed_autocenters li {
	display: inline-block !important;
	display: inline;
	zoom:1;
	margin-right: 2px;
	width:90px;
	text-align: center;
}
#payed_autocenters a {
	color: #6a6a6a;
	text-decoration: none;
}

#auto_content {
	margin-right: 240px;
	position: relative;
}

/***********/

.extnews{
	
	}
.extnews h1{
	font:100 28px Arial;
	color:#000;	
	}
.extnews nowrap{
	font:100 9px Arial;
	color:#555;
	font-style:normal;	
	}
.extnews noindex a:link,
.extnews noindex a:visited{
	font:100 11px Arial;
	color:#555;
	text-decoration:underline;	
	}
.extnews noindex a:hover{text-decoration:none;}
.extnews table{ margin-top:18px;}

.extnews table td img{
	padding:0 18px 18px 0;
	float:left;
	}
.extnews table td p{
	font:100 12px Arial;
	color:#000;
	padding:17px 0 0 0;
	}
.extnews table td span{
	font:100 18px Arial;
	color:#000;
	}
/************/
.redactor{
	border-top:1px solid #B2B2B2;
	padding:19px 0 0 10px;
	margin:19px 0 0 0;
	}
.redactor table{ width:auto;
	}
.redactor table td img{
	padding:0 18px 0 0;
	}
.redactor table td{
	padding:0 0 28px 0;
	}
.redactor table td a:link,
.redactor table td a:visited{
	font:100 18px Arial;
	color:#037CD5;
	text-decoration:underline;
	}
.redactor table td a:hover{text-decoration:none;}

.redactor table td p{
	font:100 12px Arial;
	color:#49423C;
	}
.redactor table td div{
	position:relative;
	}
.redactor table td div i{
	display:block;
	position:absolute;
	left:0;
	top:-20px;
	font-size:0;
	width:7px;
	height:8px;
	background:url(../img/icon/ukazka.jpg) no-repeat;
	}
.redactor ul li{
	display:inline;
	padding:0 5px 10px 0;
	}
/***********/

.comentariy{
	background:url(../img/background/line_coment.jpg) repeat-x;
	padding:16px 0 0 0;
	} 
.comentariy h2{
	display:block;
	position:relative;
	} 
.comentariy h2 i{
	display:block;
	position:absolute;
	right:0;
	top:0;
	font:100 18px Arial;
	font-style:normal;
	} 
.comentariy h2 a:link,
.comentariy h2 a:visited{
	font:100 24px Arial;
	color:#F17E01;
	text-decoration:underline;
	} 
.comentariy h2 a:hover{text-decoration:none;} 

.comentariy table{ 
	width:auto;
	margin:20px 0 0 0;
	} 
.comentariy table td img{ padding:0 4px 0 0;} 
.comentariy table td div{
	margin:0;
	width:500px;
	background:#F3F4EF url(../img/icon/people/icons_11.png) no-repeat 7px 8px;
	border:1px solid #E8E8E6;
	padding:0px 9px 0 20px;
	height:26px;
	} 
.comentariy table td div a:link,
.comentariy table td div a:visited{
	margin:0;
	position:relative;
	background:none;
	font:100 12px Arial;
	text-decoration:underline;
	} 
.comentariy table td div a:hover{text-decoration:none;} 
.comentariy table td div span{
	position:relative;
	color:#666;
	width:auto;
	background:none;
	font:100 11px Arial;
	}
.comentariy table td div span a{
	position:absolute;
	font-size:0;
	right:-5px;
	top:3px;
	width:14px;
	height:14px;
	} 
.comentariy table td div.none{
	margin:0;
	width:553px;
	background:#F3F4EF;
	padding:3px 0 0 7px;
	height:23px;
	font:bold 12px Arial;
	} 
.comentariy table td div.none a:link,
.comentariy table td div.none a:visited{
	margin:0;
	position:relative;
	background:none;
	font:100 12px Arial;
	text-decoration:underline;
	} 
.comentariy table td div.none a:hover{text-decoration:none;} 
.comentariy table td div.none span{
	position:relative;
	color:#666;
	width:auto;
	background:none;
	font:100 11px Arial;
	}
.comentariy table td div span a{
	position:absolute;
	font-size:0;
	right:-5px;
	top:3px;
	width:14px;
	height:14px;
	} 
	

.comentariy p{
	font:100 12px Arial;
	color:#000;
	padding:0 0 18px 0;
	border-bottom:1px solid #ccc;
	} 
div.otvet{
	position:relative;
	margin:-10px 0 10px 0;
	} 
div.otvet a{
	position:absolute;
	left:0;
	top:0;
	font:100 12px Arial;
	width:65px;
	height:20px;
	background:#fff;
	display:block;
	} 
div.otvet span{
	position:absolute;
	background:#fff url(../img/background/bgcoment.jpg) no-repeat right 0;
	width:61px;
	height:18px;
	right:0;
	top:0;
	padding:0 12px 0 0;
	color:#fff;
	font:100 12px Arial;
	text-align:right;
	display:block;
	} 

/***************/
.news_list{
	background:none;
	padding:0;
	}
.news_list h3{
	font:100 24px Arial;
	color:#fff;
	background:#519001;
	padding:4px 0 4px 13px;
	margin:17px 0 12px 0;
	}
.news_list table td b{
	padding:0 17px 0 0;
	}
.news_list table td b img{
	padding:0;
	}
.news_list table td i{
	font-style:normal;
	}
.news_list table td i a:link,
.news_list table td i a:visited{
	font:100 10px Arial;
	text-decoration:none;
	}
.news_list table td{
	padding:0 0 26px 0;
	}
.news_list table td p{
	font:100 14px Arial;
	color:#000;
	}
.news_list table td a:link,
.news_list table td a:visited{
	font-size:20px;
	font-family:Arial;
	text-decoration:underline;
	}
.news_list table td a:hover{text-decoration:none;}

.news_list table td i{
	font:100 10px Arial;
	color:#666px;
	font-style:normal;
	}
/*************/
.news_chas{
	margin-bottom:10px;
	}

/**************/
.baners{ margin:5px 0;}

.baners td{
	text-align:center;
	}
	
	
/*********/

.b-list table{
	width:100%;
	}
.b-list table.list{
	border:1px solid #E2E4DF;
	}
.b-list table.list td{
	border-bottom:1px solid #E2E4DF;
	}
.b-list td table td{
	padding:0 0 0 16px;
	vertical-align:middle;
	}
.b-list td table td b{
	font:100 11px Arial;
	color:#A5A69E;
	}
.b-list table td.sum,
.b-list table td.b-rubrics__table__col-sum{
	width:40px;
	font:100 11px Arial;
	color:#A4A7A0;
	}

.b-list td.listbg table{
	border:1px solid #E2E4DF;
	}
.b-list td.listbg table td{
	background:#F4F7EE;
	border-bottom:1px solid #E3E4DF;
	}	
	

/**************/

.list_doska{
	margin:10px 0;
	width:100%;
	}

.list_doska td {
	padding: 8px 0;
	color: black;
	position: relative;

}
.list_doska tr td{
	height:28px;
	font:100 12px Arial;
	color:000;
	vertical-align:middle;
	}

.list_doska td.date {
	text-align:center;
	color: #010101;
	font:100 12px Arial;
	color:#779f1a;
	padding:0 12px 0 0;
}

.list_doska td.cost {
	color: black;
}

.list_doska td img,
.list_doska td a {margin-right: 5px;
}

.list_doska td a:link,
.list_doska td a:visited{
	font:100 12px Arial;
	text-decoration:underline;
	}
.list_doska td a:hover{text-decoration:none;}

.list_doska td img {
	position:relative;
	top:1px;
}


.list_doska td {
	background: #fff;
}

.list_doska tr.bg td {
	background: #f1f5e8;
    color: black;
}



/***********/
.head_line1{
	position:relative;
	height:21px;
	background:#8A8F7E;
	padding:4px 0 0 3px;
	}
.head_line1 div.top{
	position:absolute;
	left:3px;
	top:4px;
	width:520px;
	height:28px;
	}
.head_line1 div ul li{
	float:left;
	font:100 11px Arial;
	color:#fff;
	}
.head_line1 div ul li a:link,
.head_line1 div ul li a:visited{
	color:#fff;
	position:relative;
	display:block;
	padding:4px 10px 3px 10px;
	font:100 12px Arial;
	text-decoration:none;
	}
.head_line1 div ul li i.lt,
.head_line1 div ul li i.rt{
	font-size:0;
	width:4px;
	height:4px;
	display:block;
	position:absolute;
	top:0;
	}

.head_line1 ul li a:link i.lt,
.head_line1 ul li a:visited i.lt{
	left:0;
	display:none;
	background: url(../img/ugol/doska/lt.jpg) no-repeat;
	}
.head_line1 ul li a:link i.rt,
.head_line1 ul li a:visited i.rt{
	right:0;
	display:none;
	background: url(../img/ugol/doska/rt.jpg) no-repeat right top;
	}

.head_line1 ul li.active,
.head_line1 ul li:hover{
	background:#fff;
	}
	
.head_line1 ul li.active a:link,
.head_line1 ul li.active a:visited,
.head_line1 ul li:hover a:link,
.head_line1 ul li:hover a:visited{
	font:100 12px Arial;
	color:#000;
	text-decoration:none;
	}

.head_line1 ul li.active a:link i.lt,
.head_line1 ul li.active a:visited i.lt,
.head_line1 ul li:hover a:link i.lt,
.head_line1 ul li:hover a:visited i.lt{
	left:0;
	display:block;
	background: url(../img/ugol/doska/lt.jpg) no-repeat;
	}
.head_line1 ul li:hover a:link i.rt,
.head_line1 ul li:hover a:visited i.rt,
.head_line1 ul li.active a:link i.rt,
.head_line1 ul li.active a:visited i.rt{
	right:0;
	display:block;
	background: url(../img/ugol/doska/rt.jpg) no-repeat right bottom;
	}



.head_line1 div.bot{
	position:absolute;
	left:3px;
	top:0px;
	width:520px;
	height:28px;
	}
.head_line1 .bot ul li.right{ background:none; padding:3px 0 0 213px;}

.head_line1 ul li a:link,
.head_line1 ul li a:visited{
	color:#fff;
	position:relative;
	display:block;
	padding:4px 10px 3px 10px;
	font:100 12px Arial;
	text-decoration:none;
	}

.head_line1 ul li select{
	font:100 11px Arial;
	color:#000;
	background:#fff;
	border:1px solid #fff;
	}
	
.head_line1 .bot ul li i.lb,
.head_line1 .bot ul li i.rb{
	font-size:0;
	width:4px;
	height:4px;
	display:block;
	position:absolute;
	bottom:0;
	}
.head_line1 .bot ul li.active a:link i.lb,
.head_line1 .bot  ul li.active a:visited i.lb,
.head_line1 .bot  ul li:hover a:link i.lb,
.head_line1 .bot  ul li:hover a:visited i.lb{
	left:0;
	display:block;
	background: url(../img/ugol/doska/lb.jpg) no-repeat;
	}
.head_line1 .bot  ul li:hover a:link i.rb,
.head_line1 .bot  ul li:hover a:visited i.rb,
.head_line1 .bot  ul li.active a:link i.rb,
.head_line1 .bot  ul li.active a:visited i.rb{
	right:0;
	display:block;
	background: url(../img/ugol/doska/rb.jpg) no-repeat right bottom;
	}

/*************/

.moi_obyav{
	position: relative;
	background:#7AA518;
	padding:4px 10px 5px 10px;
	margin:25px 0 0 0; 
	}
.moi_obyav i{
	display:block;
	position:absolute;
	width:3px;
	height:3px;
	font-size:0;
	}
.moi_obyav i.u1{ left:0; top:0; background:url(../img/slices/job.jpg) no-repeat;}
.moi_obyav i.u2{ right:0; top:0; background:url(../img/slices/job.jpg) no-repeat -3px 0;}
.moi_obyav i.u3{ right:0; bottom:0; background:url(../img/slices/job.jpg) no-repeat -3px -3px; }
.moi_obyav i.u4{ left:0; bottom:0; background:url(../img/slices/job.jpg) no-repeat 0 -3px;}


.moi_obyav a:link,
.moi_obyav a:visited{
	font:100 12px Arial;
	color:#fff;
	text-decoration:underline;
	}
.moi_obyav a:hover{text-decoration:none;}

.moi_obyav div{
	background: url(../img/button/job/bg.jpg) repeat-x;
	height:30px;
	margin:5px 0 0 0;
	position:relative;
	text-align:center;
	}
.moi_obyav div input{
	border:none;
	background:url(../img/button/job/bg.jpg) repeat-x;
	height:30px;
	width:100%;
	font:bold 14px Arial;
	color:#000;
	text-align:center;
	}
.moi_obyav div span{
	display:block;
	position:absolute;
	width:3px;
	height:30px;
	font-size:0;
	top:0;
	}
.moi_obyav div span.lt{ left:0; background:url(../img/button/job/ug_lt.jpg) no-repeat;}
.moi_obyav div span.rt{ right:0; background:url(../img/button/job/ug_rt.jpg) no-repeat;}

/*****/
ul.link-block{
	margin:10px 0;
	}
ul.link-block li{
	padding:0 0 0 10px;
	}
ul.link-block li a:link,
ul.link-block li a:visited{
	text-decoration:underline;
	}
ul.link-block li a:hover{text-decoration:none;}

/**********/
.doska_find1 h1{
	font:100 18px Arial;
	color:#6A6A6A;
	padding:0 0 4px 15px;
	}
.doska_find1 .bg{
	position:relative;
	background:#7AA518;
	padding:13px 10px 8px 70px;
	margin-bottom:10px;
	}
.doska_find1 i{
	display:block;
	position:absolute;
	width:3px;
	height:3px;
	font-size:0;
	}
.doska_find1 i.u1{ left:0; top:0; background:url(../img/slices/job.jpg) no-repeat;}
.doska_find1 i.u2{ right:0; top:0; background:url(../img/slices/job.jpg) no-repeat -3px 0;}
.doska_find1 i.u3{ right:0; bottom:0; background:url(../img/slices/job.jpg) no-repeat -3px -3px; }
.doska_find1 i.u4{ left:0; bottom:0; background:url(../img/slices/job.jpg) no-repeat 0 -3px;}

.doska_find1 ul li{
	font:100 14px Arial;
	color:#fff;
	display:inline;
	}
.doska_find1 ul li input{
	background:#fff;
	border:1px solid #7F9DB9;
	width:450px;
	height:27px;	
	}

.doska_find1 div.but{
	position:absolute;
	right:70px;
	top:13px;
	width:77px;
	height:30px;
	}
.doska_find1 div.but input{
	border:none;
	background:url(../img/button/job/bg.jpg) repeat-x;
	height:30px;
	width:100%;
	font:bold 14px Arial;
	color:#000;
	text-align:center;
	}

.doska_find1 div.but span{
	display:block;
	position:absolute;
	width:3px;
	height:30px;
	font-size:0;
	top:0;
	}
.doska_find1 div.but span.lt{ left:0; background:url(../img/button/job/ug_lt.jpg) no-repeat;}
.doska_find1 div.but span.rt{ right:0; background:url(../img/button/job/ug_rt.jpg) no-repeat;}
	
	
/****PHOTO*****/
.baner1{
	width:500px;
	margin:0 auto;
	border: 1px solid rgb(127, 170, 28);
	}
/*******/
.temu{
	position:relative;
	border:1px solid rgb(217, 216, 212);
	padding:20px 10px;
	margin-bottom:10px;	
	}
.temu h2{
	font:100 20px Arial;
	color:#5D5C58;
	padding:0 0 20px 0;
	}
.temu h3{
	font:100 10px Arial;
	color:#5D5C58;
	padding:0 0 20px 0;
	}
.temu h3 span{
	padding:0 0 0 90px;
	}
i.ku1,
i.ku2,
i.ku3,
i.ku4{
	position:absolute;
	width:5px;
	height:5px;
	font-size:0;
	display:block;
	}
i.ku1{left:-1px; top:-1px; background: url(../img/ugol/photo/u1.jpg) no-repeat;}
i.ku2{right:-1px; top:-1px; background: url(../img/ugol/photo/u2.jpg) no-repeat;}
i.ku3{right:-1px; bottom:-1px; background: url(../img/ugol/photo/u3.jpg) no-repeat;}
i.ku4{left:-1px; bottom:-1px; background: url(../img/ugol/photo/u4.jpg) no-repeat;}

.temu ul li{
	padding:0 0 3px 12px;
	float:none;
	font:100 12px Arial;
	color: rgb(94, 92, 88);
	background: url("http://img.66.ru/dez/v3/v3_dot_1.gif") no-repeat 2px 5px;
	}
.temu ul li a:link,
.temu ul li a:visited{
	font:100 12px Arial;
	text-decoration:none;
	}
.temu ul li a:hover{text-decoration:underline;}

ul.float li{ display:inline; padding:0; background:none;}
ul.float li a:link,
ul.float li a:visited{
	font:100 12px Arial;
	text-decoration:none;
	}
ul.float li a:hover{text-decoration:underline; color:#F58A00;}

ul.float li.b1 a{
	font-size:10px;
	}
ul.float li.b2 a{
	font-size:14px;
	}
ul.float li.b3 a{
	font-size:15px;
	}
ul.float li.b4 a{
	font-size:16px;
	}
ul.float li.b5 a{
	font-size:18px;
	}
ul.float li.b6 a{
	font-size:19px;
	}
ul.float li.b7 a{
	font-size:20px;
	}
ul.float li.b7 a{
	font-size:20px;
	font-weight:bold;
	}
ul.float li.b8 a{
	font-size:22px;
	}
/*************/
.head_line2{
	position:relative;
	margin-bottom:25px;
	}
.head_line2 ul li{
	display:inline;
	font:100 12px Arial;
	color:#B6B4B5;
	padding:0 0 0 5px;
	}
.head_line2 ul li a:link,
.head_line2 ul li a:visited{
	font:100 12px Arial;
	color:#B6B4B5;
	padding:0 0 0 5px;
	}

.head_line2 div{
	position:absolute;
	right:0;
	top:0;
	width:409px;
	height:35px;
	}
.head_line2 div ul li{
	float:left;
	padding:10px 0 6px 6px;
	}
.head_line2 div ul li a:link,
.head_line2 div ul li a:visited{
	font:100 12px Arial;
	color:#C98C4B;
	padding:0 0 0 5px;
	text-decoration:underline;
	}
.head_line2 div ul li a:hover{text-decoration:none;}
.head_line2 div ul li a:visited{text-decoration:none;}
.head_line2 div p{ float:left; margin-left:24px;}
.head_line2 div p a{
	display:block;
	color:#fff;
	background:#FB9701;
	height:30px;
	padding:4px 0 0 0;
	text-align:center;
	font:100 18px Arial;
	width:203px;
	border:1px solid #FFC917;
	border-bottom:1px solid #BC2E00;
	}

/********/
.news_foto{
	margin-bottom:20px;
	margin:0 auto;
	width:920px;
	}
.news_foto h3{
	display:block;
	position:relative;
	padding:0 0 5px 0;
	}
.news_foto h3 span{
	display:block;
	position:absolute;
	right:20px;
	top:3px;
	text-align:right;
	width:300px;
	height:25px;
	font:100 12px Arial;
	color:#5C5C5C;
	}
.news_foto h3 a:link,
.news_foto h3 a:visited{
	font:100 18px "Trebuchet MS";
	text-decoration:underline;
	}
.news_foto h3 a:hover{text-decoration:none;}
.news_foto ul li{
	display:inline;
	padding:0 3px 3px 0; 
	}
.news_foto ul li img{
	border:1px solid #ccc;
	}

/*********/
.photo{ padding:0 0 0 210px;}
.photo table{ width:auto;}

.photo h3{
	padding:16px 0;
	font:100 14px Arial;
	color:#577E00;
	}
.photo table td{ padding:0 15px 0 0;}
.photo table td img{ border:1px solid #ccc;}
.list_img td{
	position:relative;
	padding:0 0 10px 0;
	width:210px;
	}
.list_img td img{
	float:left;
	margin:0 10px 10px 0;
	}
td.big span,
.list_img td span{
	padding:0 0 0 15px;
	}
.list_img td div.icon1{
	background:url(../img/icon/sm.jpg) no-repeat 90px 10px;
	}
.list_img td div.icon2{
	background:url(../img/icon/sm1.jpg) no-repeat 90px 10px;
	}

td.big div p a:link,
td.big div p a:visited,
.list_img td p a:link,
.list_img td p a:visited{
	font:100 12px Arial;
	color:#616161;
	text-decoration:underline;
	}
.list_img td div a:link,
.list_img td div a:visited{
	font:100 12px Arial;
	text-decoration:underline;
	}
td.big div p a:hover,
.list_img td div a:hover{text-decoration:none;}


td.big div.icon1{
	background:url(../img/icon/sm.jpg) no-repeat 5px 10px;
	}
td.big div.icon2{
	background:url(../img/icon/sm1.jpg) no-repeat 5px 10px;
	}

/************/
.all_coment{}
.all_coment h3{
	font:100 24px Arial;
	padding:15px 0 10px 0;
	}
.all_coment ul li{
	font:100 11px Arial;
	color:#555;
	padding:0 0 5px 0;
	}
.all_coment ul li a:link,
.all_coment ul li a:visited{
	font:100 13px Arial;
	text-decoration:underline;
	}
.all_coment ul li a:hover{text-decoration:none;}
/*****************/

.build_news{
	padding:0 0 10px 0;
	}
.build_news table td img.big{
	float:left;
	padding:0 40px 16px 0;
	}
.build_news h1{
	font:100 24px Arial;
	}
.build_news h1 a:link,
.build_news h1 a:visited{
	font:100 24px Arial;
	text-decoration:underline;
	}
.build_news h1 a:hover{text-decoration:none;}
.build_news span{
	display:block;
	color:#808080;
	font:100 11px Arial;
	}
.build_news p{
	font:100 12px Arial;
	color:#000;
	}
.build_news ul li{
	font:100 12px Arial;
	color:#000;
	padding:5px 0 0 0;
	}
.build_news ul li a:link,
.build_news ul li a:visited{
	font:100 12px Arial;
	text-decoration:underline;
	}
.build_news ul li a:hover{
	text-decoration:none;
	}


.build_news ul li span{
	display:inline;
	font:100 10px Arial;
	color:#8F8F8D;
	padding:0 5px;
	}
.build_news ul li span a:link,
.build_news ul li span a:visited{
	font:100 11px Arial;
	color:#000;
	text-decoration:underline;
	}
.build_news ul li span a:hover{
	text-decoration:none;
	}

.build_news .rss{
	background:url(../img/icon/rss.jpg) no-repeat 0 2px;
	font-size:0;
	padding:0 0 0 20px;
	margin:4px 0 0 0;
	}
.build_news .rss a:link,
.build_news .rss a:visited{
	font:100 12px Arial;
	text-decoration:underline;
	}
.build_news .rss a:hover{text-decoration:none;}

/***********/
.obyav td{
	padding:0 5px 0 0;
	}
.obyav td ul li{
	float:left;
	width:49%;
	font:100 11px Arial;
	color:#555;
	}
.obyav td ul li li{
	float:none;
	padding:0 0 5px 0;
	}
.obyav td div:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;	
	}
.obyav td div{
	padding-left:20px;
	}
div.obyav{
	padding:0 0 10px 20px;
	}
div.obyav a:link,
div.obyav a:visited{
	font:100 18px Arial;
	text-decoration:underline;
	}
div.obyav a:hover{text-decoration:none;}

/*********/
.build_list{
	background:#EAEAEA url(../img/background/line.jpg) repeat-x;
	padding:8px;
	margin-top:8px;
	}
.build_list table td{
	text-align:center;
	}
.build_list table td img{
	padding:0 0 9px 0;
	}
.build_list table td{
	font:100 12px Arial;
	color:#000;
	}
.build_list table td a:link,
.build_list table td a:visited{
	font:100 12px Arial;
	text-decoration:underline;
	}
.build_list table td a:hover{
	text-decoration:none;
	}

/*************/
.text{
	font:100 12px Arial;
	color:#575757;
	padding:5px 0;
	margin-bottom:10px;
	}
.text p{ padding:0 0 5px 0;}
.text h2{
	font:100 18px "Trebuchet MS";
	text-decoration:underline;
	padding:0 0 5px 0;
	}

/**********/
.sponsor{
	}
.sponsor h2{
	font:100 18px Arial;
	color:#626262;
	padding:0 0 10px 0;
	border-bottom:1px solid #CBCBCB;
	margin-bottom:5px;
	}
.sponsor ul li{
	padding:0 0 5px 0;
	}
/********/
.list_inform{
	margin:0 0 10px 0;
	}
.list_inform h2{
	position:relative;
	display:block;
	font:100 11px Arial;
	background:#8B8F7E;
	color:#fff;
	height:41px;
	padding:9px 10px 0 10px;
	}
.list_inform h2 b{
	font:100 18px Arial;
	display:block;
	}
.list_inform h2 p{
	font:bold 16px Arial;
	display:block;
	}
.list_inform h2 i{
	display:block;
	position:absolute;
	font-size:0;
	width:6px;
	height:6px;
	top:0;
	}
.list_inform h2 i.u1{ left:0; background:url(../img/ugol/list-inform/u1.jpg) no-repeat;}
.list_inform h2 i.u2{ right:0; background:url(../img/ugol/list-inform/u2.jpg) no-repeat;}

.list_inform div.color{
	background:#EEE5C4;
	}
.list_inform div.color1 i.u3,
.list_inform div.color1 i.u4,
.list_inform div.color i.u3,
.list_inform div.color i.u4{
	display:block;
	position:absolute;
	bottom:0;
	width:6px;
	height:6px;
	}
.list_inform div.color i.u3{ right:0; background: url(../img/ugol/list-inform/u3.jpg) no-repeat;}
.list_inform div.color i.u4{ left:0; background: url(../img/ugol/list-inform/u4.jpg) no-repeat;}

.list_inform div.color1{
	background:#EAEAEA;
	}
.list_inform div.color1 i.u3{ right:0; background: url(../img/ugol/list-inform/color1/u3.jpg) no-repeat;}
.list_inform div.color1 i.u4{ left:0; background: url(../img/ugol/list-inform/color1/u4.jpg) no-repeat;}

.list_inform div{
	position:relative;
	padding:5px 5px 18px 20px;
	font:100 13px Arial;
	color:#000;
	}

.list_inform div select{
	background:#fff;
	border:1px solid #9C9990;
	}
.list_inform div input{
	background:#fff;
	border:1px solid #9C9990;
	}
.list_inform div ul li{
	display:inline;
	}
.list_inform div table{
	margin-top:18px;
	}
.list_inform div table td input,
.list_inform div table td select{
	width:95px;
	}
.list_inform div table td{
	padding:0 0 7px 0;
	}
.list_inform div table td p{
	padding:0 0 0 20px;
	position:relative;
	display:block;
	}
.list_inform div table td p input{
	position:absolute;
	left:0;
	top:0;
	width:11px;
	height:11px;
	}
.list_inform div table td.but input{
	border:none;
	background:#none;
	}

/*********/
.list_inform_dom{
	margin:0 0 10px 0;
	}
.list_inform_dom h2{
	position:relative;
	display:block;
	font:100 11px Arial;
	background:#8B8F7E;
	color:#fff;
	height:31px;
	padding:9px 10px 0 10px;
	}
.list_inform_dom h2 p{
	font:bold 16px Arial;
	display:block;
	}
.list_inform_dom h2 i{
	display:block;
	position:absolute;
	font-size:0;
	width:6px;
	height:6px;
	top:0;
	}
.list_inform_dom h2 i.u1{ left:0; background:url(../img/ugol/list-inform/u1.jpg) no-repeat;}
.list_inform_dom h2 i.u2{ right:0; background:url(../img/ugol/list-inform/u2.jpg) no-repeat;}

.list_inform_dom div.color1 i.u3,
.list_inform_dom div.color1 i.u4{
	display:block;
	position:absolute;
	bottom:0;
	width:6px;
	height:6px;
	}
.list_inform_dom div.color1{
	background:#EAEAEA;
	}
.list_inform_dom div.color1 i.u3{ right:0; background: url(../img/ugol/list-inform/color1/u3.jpg) no-repeat;}
.list_inform_dom div.color1 i.u4{ left:0; background: url(../img/ugol/list-inform/color1/u4.jpg) no-repeat;}

.list_inform_dom div{
	position:relative;
	padding:5px 5px 10px 10px;
	font:100 13px Arial;
	color:#000;
	}

.list_inform_dom div td{
	text-align:center;
	padding:10px 1px 5px 1px;
	}
.list_inform_dom div td p{
	text-align:center;
	}

/************/
.news_build p{
	font:100 18px "Trebuchet MS";
	color:#555;
	}
.news_build ul li{
	padding:0 0 5px 0;
	}
.news_build ul li p{
	font:100 12px Arial;
	color:#000;
	}
.news_build ul li a:link,
.news_build ul li a:visited{
	font:100 13px Arial;
	text-decoration:underline;
	}
.news_build ul li a:hover{text-decoration:none;}

.news_build ul li span{
	display:block;
	font:100 10px Arial;
	color:#ccc;
	padding:5px 0;
	}

/*************/
.autorozdel{ margin:0 0 20px 0;}
.autorozdel h2,
.autorozdel h3{
	padding:0 0 5px 0;
	}
.autorozdel h2 a:link,
.autorozdel h2 a:visited{
	font:100 18px Arial;
	text-decoration:underline;
	}
.autorozdel h2 a:hover{text-decoration:none;}

.autorozdel ul li{
	display:inline;
	padding:0 2px 0 0;
	}
.autorozdel h3 a:link,
.autorozdel h3 a:visited{
	font:100 12px Arial;
	text-decoration:underline;
	}
.autorozdel h3 a:hover{text-decoration:none;}

.autorozdel p{ margin:10px 0;}
.autorozdel p a{
	display:block;
	color:#fff;
	background:#FB9701;
	height:30px;
	padding:4px 0 0 0;
	text-align:center;
	font:100 18px Arial;
	border:1px solid #FFC917;
	border-bottom:1px solid #BC2E00;
	}
	

/**********/
.prodaj_auto{
	margin:0px 0 10px 0;
	}
.prodaj_auto p{
	padding:23px 0 10px 0;
	}
.prodaj_auto table td{
	text-align:center;
	font:100 11px Arial;
	color:#000;
	}
.prodaj_auto table td span{
	display:block;
	}
.prodaj_auto table td span a:link,
.prodaj_auto table td span a:visited{
	font:100 12px Arial;
	}
.prodaj_auto p a:link,
.prodaj_auto p a:visited{
	font:100 18px Arial;
	text-decoration:underline;
	}
.prodaj_auto p a:hover{text-decoration:none;}

/**********/
.tema h2{
	padding:0 0 5px 0;
	font:100 18px "Trebuchet MS";
	color:#555;
	}
.tema h2 b{
	font:bold 18px "Trebuchet MS";
	}
.tema div{
	background:#5F8BA6;
	padding: 4px 0 4px 10px;
	font:100 13px Arial;
	color:#fff;
	margin-bottom:14px;
	}
.tema div a:link,
.tema div a:visited{
	font:100 18px Arial;
	color:#fff;
	text-decoration:underline;
	}
.tema div a:hover{text-decoration:none;}
.tema table td{ padding:0 5px 0 0;}
.tema table td ul li{
	font:100 12px Arial;
	padding:0 0 5px 0;
	}
.tema table td ul li a:link,
.tema table td ul li a:visited{
	font:100 12px Arial;
	text-decoration:underline;
	}
.tema table td ul li a:hover{text-decoration:none;}
.tema table td ul li b{
	font:100 18px Arial;
	color:#5C5D58;
	padding:0 0 5px 0;
	}
.tema table td b a:link,
.tema table td b a:visited{
	font:100 18px Arial;
	text-decoration:underline;
	}
.tema table td b a:hover{text-decoration:none;}

.tema ul.list_news li{
	padding:0 0 10px 0;
	}

/********/
.test_drayv{
	position:relative;
	background:#EAEFDB;
	padding:12px 6px 5px 6px;	
	}
.test_drayv p{
	font:100 11px Arial;
	color:#8F908B;
	}
.test_drayv p span a:link,
.test_drayv p span a:visited{
	color:#000;
	text-decoration:underline;
	}
.test_drayv p span a:hover{text-decoration:none;}
	 
.test_drayv i.u1,
.test_drayv i.u2,
.test_drayv i.u3,
.test_drayv i.u4{
	display:block;
	position:absolute;
	width:5px;
	height:5px;
	font-size:0;
	}
.test_drayv i.u1{ left:0px; top:0; background:url(../img/slices/ugol.jpg) no-repeat;}
.test_drayv i.u2{ right:0px; top:0; background:url(../img/slices/ugol.jpg) no-repeat -5px 0;}
.test_drayv i.u3{ right:0px; bottom:0; background:url(../img/slices/ugol.jpg) no-repeat -5px -5px;}
.test_drayv i.u4{ left:0px; bottom:0; background:url(../img/slices/ugol.jpg) no-repeat 0 -5px;}

/********/

.list_auto{
	background:#F8F0C9;
	padding:10px 7px;
	}
.list_auto p{
	background:#fff url(../img/icon/auto.jpg) no-repeat right 5px;
	display:block;
	height:40px;
	padding:10px 0px 0 10px;
	margin:0 0 10px 0;
	}
.list_auto p a:link,
.list_auto p a:visited{
	display:block;
	margin:0;
	width:100px;
	font:100 12px Arial;
	text-decoration:underline;
	}
.list_auto p a:hover{text-decoration:none;}

.list_auto i.u1,
.list_auto i.u2,
.list_auto i.u3,
.list_auto i.u4{
	display:block;
	position:absolute;
	width:5px;
	height:5px;
	font-size:0;
	}
.list_auto i.u1{ left:0px; top:0; background:url(../img/slices/ugol.jpg) no-repeat;}
.list_auto i.u2{ right:0px; top:0; background:url(../img/slices/ugol.jpg) no-repeat -5px 0;}
.list_auto i.u3{ right:0px; bottom:0; background:url(../img/slices/ugol.jpg) no-repeat -5px -5px;}
.list_auto i.u4{ left:0px; bottom:0; background:url(../img/slices/ugol.jpg) no-repeat 0 -5px;}

.list_auto ul li{
	background: url(../img/icon/punkt1.jpg) no-repeat 0px 5px;
	font-size:0;
	padding:0 0 5px 5px;
	}
.list_auto ul li a:link,
.list_auto ul li a:visited{
	font:100 12px Arial;
	text-decoration:underline;
	}
.list_auto ul li a:hover{text-decoration:none;}

.list_auto span a:link,
.list_auto span a:visited{
	text-decoration:underline;
	font:bold 12px Arial;
	}
/**********/

.spisok_auto{ padding:0 5px 0 10px;}
.spisok_auto h2{
	font:100 12px Arial;
	color:#404040;
	padding:0 0 5px 0px;
	}
.spisok_auto ul li{
	display:inline;
	line-height:1;
	}
.spisok_auto ul li a:link,
.spisok_auto ul li a:visited{
	font:100 12px Arial;
	text-decoration:underline;
	}
.spisok_auto ul li a:hover{text-decoration:none;}
/***********/
.blogu{
	}
.blogu h1 a:link,
.blogu h1 a:visited{
	font:100 18px "Trebuchet MS";
	text-decoration:underline;
	}
.blogu h1 a:hover{text-decoration:none;}

/*********/
.bg-fone{
	position:relative;
	background:#EAEFDB;
	padding:12px 6px;
	font:100 13px "Trebuchet MS";
	color:#575757;	
	}
.bg-fone span{
	display:block;
	}
.bg-fone span a:link,
.bg-fone span a:visited{
	font:100 18px "Trebuchet MS";
	text-decoration:underline;
	}
.bg-fone span a:hover{text-decoration:none;}
	
.bg-fone i.u1,
.bg-fone i.u2,
.bg-fone i.u3,
.bg-fone i.u4{
	display:block;
	position:absolute;
	width:5px;
	height:5px;
	font-size:0;
	}
.bg-fone i.u1{ left:0px; top:0; background:url(../img/slices/ugol.jpg) no-repeat;}
.bg-fone i.u2{ right:0px; top:0; background:url(../img/slices/ugol.jpg) no-repeat -5px 0;}
.bg-fone i.u3{ right:0px; bottom:0; background:url(../img/slices/ugol.jpg) no-repeat -5px -5px;}
.bg-fone i.u4{ left:0px; bottom:0; background:url(../img/slices/ugol.jpg) no-repeat 0 -5px;}


/************/
.title{
	position:relative;
	font:100 18px "Trebuchet MS";
	color:#5A564F;
	padding:0 0 10px 0;
	}
.title span{
	position:absolute;
	right:5px;
	top:0;
	height:20px;
	width:200px;
	text-align:right;
	}
.title span a:link,
.title span a:visited{
	font:100 14px "Trebuchet MS";
	text-decoration:underline;
	}
.title span a:hover{text-decoration:none;}

.prokat{border-top:1px solid #ccc; padding:10px 0 0 0;}

.prokat td{
	padding:0 5px 0 0;
	}

.prokat div.list_inform{
	width:200px;
	}
.prokat div.list_inform h2{
	font:100 10px "Trebuchet MS";
	color:#DEDEDC;
	padding:5px 5px 0 5px;
	line-height:1;
	}
.prokat div.list_inform h2 b{
	font:bold 13px "Trebuchet MS";
	line-height:1;
	}
/**********/
.afisha_all{
	margin:0 0 10px 0;
	}
.afisha_all td{
	padding:0 0 20px 0;
	}
.afisha_all td ul li{
	color:#5A564F;
	font:100 12px "Trebuchet MS";
	}
.afisha_all td ul li a:link,
.afisha_all td ul li a:visited{
	font:100 14px "Trebuchet MS";
	text-decoration:underline;
	}
.afisha_all td ul li a:hover{text-decoration:none;}

.afisha_all td ul li b{ padding:0 0 5px 0; font:100 "Trebuchet MS"; color:#5A564F;}
.afisha_all td ul li b a:link,
.afisha_all td ul li b a:visited{
	font:100 18px "Trebuchet MS";
	}
.afisha_all td ul li.link a:link,
.afisha_all td ul li.link a:visited{
	font:100 14px "Trebuchet MS";
	text-decoration:underline;
	color:#5A564F;
	}
.afisha_all td ul li.link a:hover{text-decoration:none;}

/********/
.afisha_today h2{
	font:100 18px "Trebuchet MS";
	color:#5A554F;
	padding:0 0 5px 0;
	}
.afisha_today div{
	position:relative;
	background:#FFFBE2;
	padding:#FFFBE2;
	padding:20px 15px;
	border:1px solid #F5EABD;
	}
.afisha_today table td{
	border-bottom:1px solid #E9E1B3;
	padding:13px 0;
	font:100 12px "Trebuchet MS";
	}
.afisha_today table td img{
	padding:0 8px 0 0;
	}

.afisha_today table td p img{
	padding:0;
	}
.afisha_today table td a:link,
.afisha_today table td a:visited{
	text-decoration:none;
	}
.afisha_today table td a:hover{text-decoration:underline;}

.afisha_today table td ul li{ display:inline; color:#000;}
.afisha_today table td ul li a:link,
.afisha_today table td ul li a:visited{
	text-decoration:underline;
	}
.afisha_today table td ul li a:hover{text-decoration:none;}


.afisha_today table tr.link td{
	border:none;
	padding:5px 0 0 0;
	font-size:16px;
	}
.afisha_today table tr.link td a:link,
.afisha_today table tr.link td a:visited{
	font-size:16px;
	}

.afisha_today div i.u1,
.afisha_today div i.u2,
.afisha_today div i.u3,
.afisha_today div i.u4{
	display:block;
	position:absolute;
	width:6px;
	height:6px;
	font-size:0;
	}
.afisha_today div i.u1{ left:-1px; top:-1px; background: url(../img/ugol/film/u1.jpg) no-repeat;}
.afisha_today div i.u2{ right:-1px; top:-1px; background:url(../img/ugol/film/u2.jpg) no-repeat;}
.afisha_today div i.u3{ right:-1px; bottom:-1px; background:url(../img/ugol/film/u3.jpg) no-repeat;}
.afisha_today div i.u4{ left:-1px; bottom:-1px; background:url(../img/ugol/film/u4.jpg) no-repeat;}
/**********/

.img_blog{
	position:relative;
	background:#EAEFDB;
	padding:5px 6px;	
	}
.img_blog p{
	font:100 12px "Trebuchet MS";
	color:#555; 
	}
.img_blog i.u1,
.img_blog i.u2,
.img_blog i.u3,
.img_blog i.u4{
	display:block;
	position:absolute;
	width:5px;
	height:5px;
	font-size:0;
	}
.img_blog i.u1{ left:0px; top:0; background:url(../img/slices/ugol.jpg) no-repeat;}
.img_blog i.u2{ right:0px; top:0; background:url(../img/slices/ugol.jpg) no-repeat -5px 0;}
.img_blog i.u3{ right:0px; bottom:0; background:url(../img/slices/ugol.jpg) no-repeat -5px -5px;}
.img_blog i.u4{ left:0px; bottom:0; background:url(../img/slices/ugol.jpg) no-repeat 0 -5px;}

.img_blog ul li{
	padding:0 9px 0 0;
	display:inline;
	}
.img_blog ul li img{
	border:1px solid #ccc;
	}

.img_blog  div ul li{
	display:inline;
	}
.img_blog  div ul li.end{ padding:0 0 0 300px;}

.img_blog  div ul li a:link,
.img_blog  div ul li a:visited{
	font:100 14px Arial;
	text-decoration:underline;
	}
.img_blog  div ul li a:hover{text-decoration:none;}
/*********/
.registry{
	padding:0 0 0 45px;
	background:url(../img/icon/registry.jpg) no-repeat;
	margin:0 0 20px 0;
	line-height:1;
	font-size:0;
	}
.registry a:link,
.registry a:visited{
	font:100 24px "Trebuchet MS";
	color:#91A15A;
	text-decoration:underline;
	}
.registry a:hover{text-decoration:none;}

.registry span{ display:block;}
.registry span a:link,
.registry span a:visited{
	font:100 13px "Trebuchet MS";
	color:#3B7A99;
	}
/*********/
.stat{
	margin:0 0 17px 0;
	}
.stat p{
	background:#87B51E;
	display:block;
	font:100 13px "Treebuchet MS";
	color:#fff;
	height:23px;
	padding:2px 0 0 15px;
	}
.stat ul li{
	position:relative;
	padding:12px 0 12px 13px;
	font:100 13px "Trebuchet MS";
	color:#616161;
	border-bottom:1px solid #D0D0D0;	
	}
.stat ul li a{
	display:block;
	position:absolute;
	right:0;
	top:5px;
	width:59px;
	height:21px;
	padding:7px 0 0 0;
	text-align:center;
	}
.stat ul li.active a{
	background:url(../img/icon/zvezda.gif) no-repeat;
	}
/*********/

.help td{
	padding:0 0 15px 0;
	}
.help td.gran{
	padding:0 17px;
	}

.bgphone{
	position:relative;
	background:#EAEFDB;
	padding:12px 6px 5px 6px;	
	}
.bgphone p{
	font:100 13px "Trebuchet MS";
	}
.bgphone:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;	
	}
i.u1bg,
i.u2bg,
i.u3bg,
i.u4bg{
	display:block;
	position:absolute;
	width:5px;
	height:5px;
	font-size:0;
	}
i.u1bg{ left:0px; top:0; background:url(../img/slices/ugol.jpg) no-repeat;}
i.u2bg{ right:0px; top:0; background:url(../img/slices/ugol.jpg) no-repeat -5px 0;}
i.u3bg{ right:0px; bottom:0; background:url(../img/slices/ugol.jpg) no-repeat -5px -5px;}
i.u4bg{ left:0px; bottom:0; background:url(../img/slices/ugol.jpg) no-repeat 0 -5px;}
/*********/
.bgphone h2,
.bgphone h3{
	padding:0 0 0 30px;
	font-size:0;
	display:block;
	}

.bgphone h2.krug{
	background:url(../img/icon/cons.gif) no-repeat 3px 2px;
	}
.bgphone h2.int{
	background: url(../img/icon/magazin.gif) no-repeat 3px 2px;
	}
.bgphone h2.disk{
	background: url(../img/icon/c.gif) no-repeat 3px 2px;
	}
.bgphone h3.apt{
	background: url(../img/icon/isi.png) no-repeat 3px 2px;
	}
.bgphone h3.bank{
	background: url(../img/icon/biznes.gif) no-repeat 3px 2px;
	}
.bgphone h3.dir{
	background: url(../img/icon/papka.gif) no-repeat 3px 2px;
	}
.bgphone h2 a:link,
.bgphone h2 a:visited,
.bgphone h3 a:link,
.bgphone h3 a:visited{
	font:100 18px "Trebuchet MS";
	text-decoration:underline;
	}
.bgphone h3 a:hover,
.bgphone h2 a:hover{text-decoration:none;}

.line2 li{
	float:left;
	width:49%;
	}
.line2 li li{
	float:none;
	width:auto;
	padding:0 0 1px 0;
	font:100 12px "Trebuchet MS";
	color:#9D9B9C;
	}
.line2 li li a:link,
.line2 li li a:visited{
	font:100 12px "Trebuchet MS";
	text-decoration:underline;
	}
.line2 li li a:hover{text-decoration:none;}

/********/
.line3 li{
	display:inline;
	font:100 12px "Trebuchet MS";
	color:#9D9B9C;
	padding:0 0 3px 0;
	}
.line3 li.inp input{
	border:1px solid #ccc;
	background:#fff;
	height:21px;
	width:190px;
	padding:0 5px;
	}
.line3 li.but input{
	background:#D4D0C7;
	width:25px;
	height:21px;
	font:100 11px "Trebuchet MS";
	color:#000;
	border:1px solid #fff;
	}
/*********/
.line4 li{
	display:inline;
	font:100 12px "Trebuchet MS";
	color:#9D9B9C;
	position:relative;
	}
.line4 li a:link,
.line4 li a:visited{
	text-decoration:underline;
	}
.line4 li a:hover{text-decoration:none;}

.line4 li select{
	border:1px solid #ccc;
	background:#fff;
	width:80px;
	}
.line4 li.but input{
	position:absolute;
	left:10px;
	top:-3px;
	width:70px;
	}
/*********/
.line5 li{
	font:100 11px "Trebuchet MS";
	color:#9D9B9C;
	padding:0 0 3px 0;
	}
.line5 li a:link,
.line5 li a:visited{
	text-decoration:underline;
	}
.line5 li a:hover{text-decoration:none;}
/*********/
/******/
.help tr.top td.gran .bgphone{ padding-bottom:40px;}
.help tr.top td.gran span{
	position:absolute;
	right:10px;
	bottom:5px;
	background:url(../img/icon/compas.gif) no-repeat;
	width:51px;
	height:48px;
	font-size:0;
	}
.help tr.line td div{
	border-top:1px solid #ccc;
	padding:16px 0 0 0;
	}
.help tr.line td div div{
	border:none;
	padding:0;
	}
/**********/
.doska{
	font:100 12px "Trebuchet MS";
	color:#555;
	}
.doska div{
	border:none;
	padding:0;
	}
.doska div a:link,
.doska div a:visited{
	font:100 18px "Trebuchet MS";
	text-decoration:underline;
	margin-right:5px;
	}
.doska div a:hover{text-decoration:none;	}
.doska{	
	}
.doska{	
	}
.doska{	
	}