@import "~assets/css/variables";
@import "~assets/css/shared";

.basic-marketing-select-drug-content{
  label{
    cursor: pointer;
  }

  .controls-multiselect-buList{
    .ui-multiselect{
      min-height: $form-control-height;
      width: 100%;
    }
  }
  .bu-list{
    flex-wrap: wrap;
    justify-content: flex-start;

    @include bu-list-checkboxes;
  }
}

.bu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

h5 {
  font-size: 1.25em;
}
