@import "reset.css";
	
html, body{ height:100%; }	
	
body{ 
	font-size:12px;
	color:#A7A7A7;
	font-family:Arial;
	overflow-x:hidden;
	}	
	
div{ margin:0 auto; }
	
.ul li{ list-style:none; }
ul{ list-style:none;}

a:link,
a:visited{ text-decoration:underline; color:#0669B2; font-size:12px;}
a:hover{ text-decoration:none; }

/* UTIL */
.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;	
	}
	
.float-left{ float:left; }
.float-right{ float:right; }

.none span,
.none a span{	
	display:none; 
	}

input{ outline:none;}
	
.float-right{ float:right;}
.float-left{ float:left;}

p{
	font-size:11px;
	color:#A7A7A7;
	padding-bottom:15px;
	text-align:justify;
}
	
/* headings */
h1, h2, h3, h4, h5, h6{ line-height:1; }	

img{border:1px solid #39A9DE;}

.green{
	color:#009F3C!important;
}		
		
/* Main */
.main{
	position:relative;
	min-width:1006px;
	min-height:100%;
	}
	
.header{
	position:relative;
	z-index:100;
	height:335px;

	}
.header_iner{width:1006px; margin:0 auto; position:relative;}	
	
.fixit{ padding:0 10px;}
	
.content{
	position:relative;
	padding:0px;	
	}		

.BeforeFooter{ padding-bottom:320px;}
	
.wrapper{
	
	padding:0px 0px 0 0px;
	}

.right-col{
	float:right;
	width:245px;
	
	}
	
.left-middle-col{
	margin-right:270px;
	}
	
.left-col{
	float:left;
	width:40%;	
	}

.TwoStruct{ width:100%;}
.TwoStruct th{ text-align:left; font-weight:100; vertical-align:top; }
.TwoStruct td{vertical-align:top; }
.TwoStruct td.space{ width:10px!important; }
	

.middle-col{
	margin-left:335px;
	
	}

.bottom{
	position:absolute;
	height:318px;/*изменить*/
	padding:0px 0 0px 0;/*изменить*/
	width:100%;
	bottom:0;
	left:0;
	background: url(../img/footer/fon.jpg) repeat-x;
	}
.inerbotom{ position:relative; padding:25px 0 0 0;}
.botomtab td{ vertical-align:top;}

/*****main**********/


/*****topmes**********/
.topmes{
font:100 12px Arial;
position:absolute;
top:20px;
left:5px;
color:#c1c1c1;
	}
.topmes span{ color:#0669b2;} 
/*****topmes**********/


/*****topmen**********/
.topmen{ 
padding:0;
margin:0;
position:absolute;
right:25px;
top:10px;
}
.topmen li { float:right; margin:0 0 0 35px;}
.topmen li a{
font:100 12px Tahoma;
color: #0669b2;
	 }
/*****topmen**********/ 

.logo{
	position:absolute;
	top:55px; 
	left:0;
	}
.logo img{
	border:none;
	} 


/*****.greyblock**********/
.greyblock
{
	width:385px;
	min-height:70px;
	background:#f4f3f3;
	position: absolute;
	right:0;
	top:55px;
	padding:20px 20px 15px 30px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	 -khtml-border-radius: 15px;
	behavior: url(js/PIE.htc);
	border-radius: 15px;
	color:#0669b2;
	font: 100 12px Arial;
}

.greyblock img{
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	 -khtml-border-radius: 15px;
	behavior: url(js/PIE.htc);
	border-radius: 15px;
	border:1px solid #9ac5e1;
	float:left;
	margin:0 10px 0 0;
	}
	
.greyblock b{
	font: bold 12px Arial;
	color:#009f3c;
	display:block;
	margin:0 0 15px 0;
}
.greyblock p{
	margin:5px 0 0px 0;
	font: 100 12px Arial;
	color:#0669b2;

}

/*****.greyblock**********/



/*****menu**********/
.menu{
		background: url(../img/header/cent.png) repeat-x;
	width:100%;
	height:56px;
	position:absolute;
	top:185px;
	left:0;
	}

.left1_1{ 
	background:url(../img/header/left1_2.jpg) no-repeat;
	width:8px;
	height:56px;
	display:block;
	position:absolute;
	left:0;
	top:0;
}
.right2_1{ 
	background: url(../img/header/right2_1.jpg) no-repeat;
	width:8px;
	height:56px;
	display:block;
	position:absolute;
	right:0;
	top:0;
}
.menu ul{

	padding:19px 0 0 30px;
}
.menu ul li{ float:left; margin:0 23px 0 0;}
.menu ul li.last{ margin:0 0px 0 0;}
.menu ul li a{
	font:100 12px Arial;
	color:#0669b2;
	text-decoration:none;
	text-transform:uppercase;
 }
.menu ul li a:hover,.menu ul li a.active{
	color:#6c000a;
 }
/*****menu**********/


/*****login**********/
.login{
	width:100%;
	height:50px;
	position:absolute;
	top:241px;
	left:0px;}
.login_iner{
	height:38px;
	position:relative;	
	background:#f4f3f3;
	margin:0px 34px 0 34px;
	padding:13px 24px 0 24px;	
}
.left2_2{ 
	background:url(../img/header/left2_2.jpg) no-repeat;
	width:8px;
	height:50px;
	display:block;
	position:absolute;
	left:0;
	top:0;
}
.right2_2{ 
	background: url(../img/header/right2_2.jpg) no-repeat;
	width:8px;
	height:50px;
	display:block;
	position:absolute;
	right:0;
	top:0;
}
.inp_login{
	background:url(../img/header/search1.png) no-repeat;
	width:100px;
	height:25px;
	padding:0px 7px 0 7px;
	border:none;
	margin:0 5px 0 0;
	color:#c1c1c1;
	font:100 12px Arial;
}
.inp_login2{
	width:100px;
	height:25px;
	padding:0px 7px 0 7px;
	border:none;
	margin:0 5px 0 0;
	color:#c1c1c1;
	font:100 12px Arial;
}


.link1{color:#009f3c !important; margin:0 20px 0 0;}
.link2{color:#0669b2; margin:0 10px 0 0;}

.poisk a{
	color:#0669b2;
	font:100 12px Arial;
	text-decoration:none;
	margin:0 0 0 5px;
}
	
.poisk{ background:url(../img/header/search2.png) no-repeat;
	width:160px;
	height:25px;
	padding:0px 7px 0 7px;
	border:none;
	margin:0 0px 0 0;
	color:#c1c1c1;
	font:100 12px Arial;
	position:relative;
	float:right;

}
.inp_poisk{
	width:90px;
	height:25px;
	padding:0px 7px 0 7px;
	border:none;
	margin:0 5px 0 0;
	color:#c1c1c1;
	font:100 12px Arial;
}

/*****login**********/



/*****greyblock2**********/
.greyblock2
{

	min-height:70px;
	background:#eff1f1;
	padding:5px 5px 40px 25px;
	margin:0 0 25px 0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	 -khtml-border-radius: 10px;
	behavior: url(js/PIE.htc);
	border-radius: 10px;
	color:#0669b2;
	font: 100 12px Arial;
}
.reg{ color:#f3a325;	font: 100 16px Arial;}
.reg span{font: 100 18px Arial; }

.reg2{ color:#9a9a9a;	font: 100 12px Arial;
margin:10px 0 15px 20px;}
.reg2 a{ color:#0669b2;}

.greyblock2 ul{ margin:0 0 0 20px;}
.greyblock2 ul li{ margin:0 0 10px 0;
background:url(../img/center/licerk.png) no-repeat left center;
padding:0 0 0 16px;}

/*****greyblock2**********/


/*botmen*/
.botmen li.first{ 
	color: #009f3c;
	border-bottom:2px solid #649eca;
	font: 100 12px Arial;
	padding:0 0 10px 0; 
	margin:0 0 15px 0;
	text-transform:uppercase;
	}

.botmen li {
	margin:0 0 5px 0; 
	padding:0; 
	color:#0669b2;
	line-height:15px;	
	}

.botmen li.town{ padding:23px 0 5px 0;}

.botmen li a{
	font: 100 12px Arial; 
	color:#0669b2;
	text-decoration:none; 
	padding:0; margin:0; 
	text-transform:uppercase;
	}

.botmen { 
	width:220px;
	margin:0 0 0 20px;
	float:left;
	}

.botmen li a:hover{
	color:#6c000a;
 }

.botmen.first { 	

	}


/*botmen=======*/	

.baner{
	margin:0px 0 20px 0;
	text-align:center;
}
.baner.border-none img{ border:none;}

.dnedvig{ padding:0 0 0 15px;}

/*BlockName*/
.BlockName{
	border-bottom:5px solid #39A9DE;
	padding:0 2px 6px 2px;
	font-size:18px;
	color:#F0AB1C;
	line-height:25px;
	text-transform:uppercase;
	}

.BlockName a{
	text-transform:none;		
	
	}	
/*BlockName==========*/

/*LineSelect*/
.LineSelect{ float:right;}
.LineSelect li{ display:inline; padding:0 0px 0 0; color:#C1C1C1; font-size:12px; text-transform:none;}
.LineSelect{}
.st{ color:#c1c1c1 !important;font: 100 18px Arial !important; text-transform:uppercase;
display:inline-block; margin:0 0 0 15px;}


/*LineSelect=====*/

.dashed{
	background:url(../img/center/line.jpg) repeat-x left bottom;
	margin-bottom:10px;
}


/*=====forum=======*/
.link3{
	display:inline-block;
	margin:15px 0 2px 0;
	color:#0669b2;
	font: 100 12px Arial;
}
.date1{
	color:#009f3c;
	font: 100 12px Arial;
	padding:0;	
	
	}	

.line{
	margin:10px 0;
	background:url(../img/center/line.jpg) repeat-x;
	height:1px;
	width:100%;
	padding:0;	
	}	
/*=====forum=======*/	
	
/*=====foto======*/		
.fototab1{ width:24px;}	
.fototab2{ height:20px;}	
.fototab{ margin:15px 0 0 0;}	
.fototab3 a{ float:right;}	
/*=====foto======*/		


/*=====newstab======*/		
.newsp{ margin:10px 0 20px 0; padding:0;}
.newslink{color:#009f3c !important;
	font: 100 12px Arial;
	display:block;
	margin:5px 0 15px 0;}
.newsdate{
		color:#9a9a9a;
	font: 100 12px Arial;
	padding:0;}	
.newstab{ margin:10px 0 0 0;}
.newstab  td{		color:#000;
	font: 100 12px Arial;
	vertical-align:top;
}	
.newstab1{ width:130px;}
.newstab2{ width:15px;}
.newstab4{ height:20px;}
.newstab1 a{ display:block; margin:0 0 10px 0;}
/*=====newstab======*/		

/*=====ob======*/	
.ob{color:#f0ab1c;
	font: 100 12px Arial;
	margin:20px 0 10px 0;}
	
.ob a{		color:#009f3c;
	font: 100 14px Arial;
	display:inline-block;
	margin:0 5px 0 0;
}
.ob2{ display:block; margin:10px 0 0 0;}
.obmain{ color:#000;}
.rob{ display:block; margin:10px 0 20px 0; text-align:right;}
/*=====ob======*/		

/*=====day======*/		
.day{color:#c1c1c1;
	font: 100 12px Arial;
	margin:15px 0 10px 0;}

.day span{ color:#009f3c; float:right;}

/*=====day======*/		

.pozd1{font: 100 12px Arial; color:#000; margin:15px 0 20px 0; padding:0;}
.pozd2{font: 100 12px Arial; color:#009f3c; margin:0; padding:0;}

/*=====FindOrganization======*/	
		.dashed{ 
			border-bottom:1px dotted #39A9DE;
			padding-bottom:15px;
			}
		.find{
			background:url(../img/AngleWhite.png) no-repeat;
			height:25px;
			position:relative;			
		}
		.findgrey{
			background: url(../img/AngleGray.png) no-repeat;
			height:25px;
			position:relative;			
		}

		
		.find input.TextEntry{ border:none; height:23px; width:98%; padding-left:10px; color:#C1C1C1;}
		.Podpis{ border:none; height:20px;  padding-left:25px; color:#0669b2;}
		.but1{ width:130px; float: right;}
		.but2{ width:100px; float:left; margin:0  20px 0 0;}
		
		
		.findWhite{
			background:url(../img/AngleWhite.png) no-repeat;
			height:25px;
			position:relative;			
		}
		.findWhite .angleright{
			
			position:absolute;
			right:-11px;
			top:0;
			width:11px;
			height:24px;			
			background:url(../img/AngleWhite.png) no-repeat right bottom;
		}		
		
		
		.findgrey .angleright{
			
			position:absolute;
			right:-11px;
			top:0;
			width:42px;
			height:24px;
			padding-right:11px;			
			background:url(../img/AngleGray.png) no-repeat right bottom;
		}		
		
		
		.find .angleright{
			
			position:absolute;
			right:-11px;
			top:0;
			width:42px;
			height:24px;
			padding-right:11px;			
			background:url(../img/AngleGray.png) no-repeat right bottom;
		}		
		.find .angleright input.button{
			display:block;			
			border:none;			
			height:24px;
			width:100%;
			font-size:12px;
			text-align:center;
			color:#0669B2;
			background:url(../img/AngleGray.png) no-repeat -11px 0;			
		}
		.FindOrganization{ padding-right:11px;}
			.BlockName{
			margin-bottom:9px;
		}
		.otstup1{ margin:10px 0 0 0;}
/*=====FindOrganization======*/			

/*=====nedvig======*/			
.nedvig{ margin:10px 0 0 0;}
.nedvig td{ vertical-align:top; color:#f0ab1c;}
.nedvig1{ width:15px;}
.nedvig2{ width:20px;}

.nedvig4 {color:#0669b2;
	font: 100 12px Arial;
	margin:8px 0 6px 0 ;
	display:block;}
.nedvig5{ height:10px;}

/*=====nedvig======*/			

/*=====kino======*/			
.gr{color:#b4b4b4;}
.kino{ margin:10px 0 0 0;}
.kino2{ padding:0 0 0 10px;}
.kino3{ color:#009f3c;
font: 100 14px Arial;
margin:0 0 5px 0;
padding:0;}

.kino4{color:#a7a7a7 !important;
font: 100 12px Arial;
display:block;
margin:0 0 20px 0;}
/*=====kino======*/			


/*=====email======*/			
.email{ color:#000;}
.red{ color:#ff0000}
.emailinp{ 
	border:1px solid #39a9de;
	width:174px;
	}
.email ul li{ float:left; line-height:24px; padding-right:10px;}	
/*=====email======*/			

table.newstab{
	margin-top:10px; 
}

.informer{ width:120px; margin:0 auto;}