@import "~assets/css/shared";

.investments-content{
  @include main-row-form;
  @include main-row-period-input;

  .investment-row{
    display: flex;
    &>*{
      margin: 0;
      margin-right: 15px;
    }

    .controls-input-investment-percentage{
      .form-control{
        width: 100px;
      }
    }
  }

  .matrix-investment{
    display: flex;
    &>*{
      margin: 0;
      margin-right: 15px;
    }
  }

  .row-item{
    &>div,
    &>span{
      &:last-child{
        width: 500px;
      }
    }
  }
}