<div class="content-block drug-select-content">
  <div class="title-block title-border-gray">
    <h2 class="title fs-20">Выберите препарат</h2>
  </div>

  <div *ngIf="form">
    <form [formGroup]="form">
      <div class="drug-select-block">
        <div class="row group">
          <div class="col-lg-12">
            <app-form-controls-select
                    label="Группа:"
                    class="controls-select-group"
                    formControlName="currentBU"
                    [hideErrors]="true"
                    [bindLabel]="'label'"
                    [bindValue]="'value'"
                    [errors]="form.get('currentBU').errors"
                    [options]="businessUnits">
            </app-form-controls-select>
          </div>
        </div>

        <div class="row list">
          <div class="col-lg-12">
            <table class="table table-border-gray">
              <tr *ngFor="let sku of filteredSkus">
                <td [class.selected]="isSkuActive(sku)"
                    [innerText]="sku.sku.name"
                    (click)="selectSku(sku)">
                </td>
              </tr>
            </table>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
