@import "variables";

body {
  font-size: 14px;
}

.form-group{
  width: 100%;

  label{
    margin: 0;
  }
}

.page{
  padding-top: 72px;

  &.inner-page{
    padding: 0;

    .container-fluid,
    .container{
      padding: 0;
    }
    .content-block{
      margin: 0;
      border: 0;
      padding: 0;
    }
  }
}

.list-checkboxes{
  .list{
    display: flex;
    label{
      font-weight: normal!important;
      width: auto;
      padding-right: 10px;
    }
    input{
      margin-right: 0px;
    }
  }
}

.content-steps{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.table-column{
  &,
  tr th,
  tr td{
    border: none;
    font-size: 14px;
  }

  tr{
    height: 50px;
    border-bottom: 1px solid $color-abbott-light-gray;
  }
  thead{
    th{
      text-align: center;
    }
  }
}

.table-common{
  &{
    & td,
    & th{
      border: none;
    }
  }

  thead{
    th{
      text-align: center;
      vertical-align: middle;
    }
  }
  tbody{
    tr{
      &.tr-item{
        border-bottom: 2px solid $color-abbott-light-gray;
      }
      td{
        padding: 3px;
        vertical-align: top;

        .form-control{
          width: 120px;
        }

      }
    }
    td{

    }
  }
}

.form-component{
  margin-top: 10px;

  .row-item{
    justify-content: space-between;
    display: flex;

    &.period-row{
      &>*{
        margin-right: 15px;
        &:last-child{
          margin-right: 0;
        }
      }

      &>span>label{
        font-size: 16px;
        width: auto;
      }
    }

    .form-group{
      display: flex;
      align-items: center;
      justify-content: space-between;

      label{
        display: flex;
        padding-right: 10px;
      }
    }

    //span{
    //  &:last-child{
    //    padding-right: 0!important;
    //  }
    //}
  }

  .controls-select-month-to,
  .controls-select-duration,
  .controls-select-duration-budget,
  .controls-select-month-from{
    label{
      font-weight: normal!important;
      white-space: nowrap;
      width: auto;
      margin-right: 15px;
    }

    .ng-select{
      width: 150px;
    }
  }

  .controls-select-sku{
    .ng-select{
      width: 100%;
    }
  }

}

.content-block {
  background-color: $color-abbott-white;
  border-top: 3px solid $color-abbott-medium-blue;
  padding: 10px;
  //height: 100%;
  margin-bottom: $content-block-margin-bottom;

  &.border-red {
    border-color: $color-abbott-magenta;
  }

  &.border-yellow {
    border-color: $color-abbott-gold;
  }

  &.inner-content-block{
    background-color: $color-abbott-white;
    border-top: 0;
    padding: 0;
  }
  .content{
    margin-top: 15px;
  }
}

.title-block{
  margin-bottom: $content-block-margin-bottom;

  .title{
    font-size: 20px;
    min-height: 30px;
  }

  .sub-title{
    font-size: 14px;
    color: $color-abbott-dark-gray;
    border-bottom: none;
  }
}


.row-item {
  .row-item-label,
  .row-item-content{
    display: flex;
    align-items: center;
    height: 100%;
  }
}

label.first-level{
  height: inherit;
  display: flex;
  align-items: center;
  font-weight: bold !important;
}

.rows-block{
  .row-item {
    min-height: 25px;
    padding-bottom: 10px;
    border-bottom: 2px solid $line-gray;
    display: flex;
    margin-bottom: 10px;

    &:last-child{
      border-bottom: none!important;
      margin-bottom: 0;
    }

    .form-group{
      margin: 0;
    }

    &>div,
    &>span{
      display: flex;
      align-items: center;
      padding-right: 10px;
      &>label{
        margin: 0;
        padding: 0;
      }
    }

  }
}

[class*='-border-gray']{
  border-bottom: 2px solid $color-abbott-light-gray;
}

[class*='empty']{
  font-size: 0;
}

.not-found-data{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 5px;
}

.content-border-gray{
  background: $color-abbott-light-gray;
  border: 1px solid $color-abbott-light-gray;
  padding: 5px;
  border-radius: 5px;
}

.command-block{
  width: 70px;
  justify-content: space-between;
  display: flex;

  .ico{
    border-radius: 3px;
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: none!important;
    color: white!important;
    font-size: 18px;
    justify-content: center;

    &.ico-plus{
      background: $color-abbott-light-green!important;
    }

    &.ico-minus{
      background: $color-abbott-red!important;
    }
  }



}


.currency-block{
  //position: absolute;
  //right: 0;
  //bottom: 0;
  //display: flex;
  //width: 300px;

  .form-group{
    display: flex;
    align-items: center;

    label{
      padding-right: 15px;
    }
  }
}

.table-total{
  thead{
    th{
      vertical-align: middle;
      text-align: center;
      font-weight: bold;
    }
  }
  tbody{
    td{
      text-align: center;
      vertical-align: middle;
    }
  }
}

.tab-header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid $color-abbott-light-gray;
  height: 30px;

  .tab-link {
    padding: 5px 15px;
    height: 32px;
    cursor: pointer;

    &.active {
      color: $color-abbott-primary-blue;
      border-bottom: 2px solid $color-abbott-primary-blue;
    }

    &:focus {
      outline: none;
    }
  }
}

// bootstrap rows
.row + .row {
  margin-top: 15px;
}

app-dma{
  .content-block{
    margin-bottom: 15px!important;
  }
}

.controls-datepicker{
  .ui-calendar{
    display: flex;
  }
  input{

  }
  button{
    left: -33px;
    display: flex;
    height: 35px!important;
  }
}

.period-container{
  justify-content: flex-start!important;
}

.plate-block {
  border-radius: 10px;
  padding: 5px 10px;
  background-color: $color-abbott-light-gray;
  border: 1px solid $color-abbott-medium-gray;
  margin-bottom: 15px;
}

p-paginator{
  .ui-dropdown-label{
    height: 32px;
  }
}


/*For development on dev*/
.row{
  .item{
    flex-wrap: wrap;
  }
}
/*For development on dev==============*/


app-currency {
  .form-control-select{
    label{
      padding-right: 15px;
    }
  }
}

.ui-accordion-header a {
  display: flex !important;
  align-items: center;
}
