// Colors primary
$color-abbott-primary-blue: #009cde;
$color-abbott-black: #000;
$color-abbott-white: #fff;

// Colors core
$color-abbott-dark-blue: #002a3a;
$color-abbott-medium-blue: #004f71;

// Colors accents
$color-abbott-light-blue: #5bc2e7;
$color-abbott-mint: #64ccc9;

// Colors energy
$color-abbott-purple: #470a68;
$color-abbott-magenta: #aa0061;
$color-abbott-red: #e4002b;
$color-abbott-gold: #eeb33b;
$color-abbott-yellow: #ffd100;
$color-abbott-medium-green: #00b140;
$color-abbott-light-green: #7ccc6c;

// Colors neutrals
$color-abbott-charcoal: #222731;
$color-abbott-dark-gray: #63666a;
$color-abbott-medium-gray: #888b8d;
$color-abbott-light-gray: #d9d9d6; // new dad7d7

// Sidebar
$sidebar-width: 250px !default;
$sidebar-padding-x: 0.5rem !default;
$sidebar-padding-y: 0 !default;


$background-blue: #007bff;
$nav-nav-item-background : #192024;
$nav-sub-menu-background: #2b3b41;

//Border
$line-gray: #eaeaea;
$line-blue-main: #2766cc;

// Btn

$btn-green: #31a689;
$btn-orange: #f0ad4e;
$btn-blue: #438bca;

// Select
$background-light-blue: #3999ff;

//COMMON
$form-control-height: 38px;
$content-block-margin-bottom: 15px;
$form-row-margin-bottom: 10px;
$border-radius: 10px;


$headerHeight: 57px;

$notes-background: #ccccff;
