@import "../../../../../assets/css/variables";

label {
  display: block;
  margin-bottom: 10px;
}

.form-control-select {
  min-width: 100px;
}

.selected-item {
  border-radius: 50px;
  background-color: $color-abbott-light-gray;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;

  &:last-child {
    margin-right: 0;
  }
}

.empty-selection {
  border-radius: 50px;
  background-color: $color-abbott-white;
  padding: 5px;
  margin-right: 5px;
  display: block;
}
