
/*ADD style to select*/
.select-dropdown{ width:100%; top:21px;}

.select-wrap
{
   position:relative;
   cursor:default;
   display:block;
   width:100%;        

}
ul.Select li.small .select-wrap{width:89px; }
ul.Select li .select-wrap{  width:106px; }
ul.Select li.small .select-dropdown {width:89px !important; }
ul.Select li .select-dropdown   {width:106px !important;    }

.select-option,
.select-dropdown,
.select-wrap,
.select-option,
.select-title {
    height:19px;
    line-height:19px;
}
.select-option,
.select-title,
.select-option{ padding-left: 10px; 
   color:#000;
   font-family:Tahoma;	 
   font-size:12px;   
}

.select li .select-option{ 
background: white;
    width: 128px;
}
.deliverysel .select-option{ 
background:  #fff;
    width: 201px;
	border:1px solid #D2D2D2;
}

.kartsel .select-option{ 
background: white;
    width: 128px;
		border:1px solid #D2D2D2;
}
.select li .select-title{
	background:url(../images/bg/filtersel.png) no-repeat;
	width:152px;
	height:26px;
	padding:2px 0 0 10px;

}
.kartsel .select-title{
	background:url(../images/bg/filtersel.png) no-repeat;
	width:152px;
	height:26px;
	padding:2px 0 0 10px;

}
.deliverysel .select-title{
	background: url(../images/bg/deliverytitle.png) no-repeat;
	width:228px;
	height:26px;
	padding:2px 0 0 10px;

}

.select-title
{    
    display:block;
    color:#000;
    font-family:Tahoma;	 
    font-size:12px;       
}
.select li .select-button
{
	    width:27px;
    height:26px;
	background:url(../images/bg/filterselbut.png) no-repeat;
}
.kartsel{ width:170px; margin:0 auto 0 auto;}
.kartsel .select-button
{
	    width:27px;
    height:26px;
	background:url(../images/bg/filterselbut.png) no-repeat;
} 

.deliverysel{ width:255px; margin:5px 0 10px 0;}
.deliverysel .select-button
{
	    width:27px;
    height:26px;
	background:url(../images/bg/filterselbut.png) no-repeat;
} 
.select-button
{
	position:absolute;
    right:0px;
    top:0px;
    cursor:pointer;
    display:block;
    border:none;
           
} 
.select li .select-dropdown{
	left:5px;
	top:25px;
}
.kartsel .select-dropdown{
	left:5px;
	top:25px;
}
.deliverysel .select-dropdown{
	left:0px;
	top:25px;
}
.sel2 .select-dropdown{left:-3px !important;}
.select-dropdown
    {
    position: absolute;
    z-index: 300;
    left:0;
    background:#fff;                
    color:#000;
    font-family:Tahoma;
    }
.select-option{ cursor:pointer; margin-top:-1px; }
.select-option:hover{ color: #a458ba;}

/*ADD style to select*/

.deliverysel .ddl{  float: left;
    margin: 5px 0 6px !important;}
.ddl {
    position: relative;
}