<div class="row">
  <div class="col-4">
    <app-activity-bonus-agreement-common-info
        #innerFormComponent
        [bonusAgreement]="bonusAgreement">
    </app-activity-bonus-agreement-common-info>
  </div>

  <div class="col-4">
    <app-activity-bonus-agreement-common-estimated-investments
        #innerFormComponent
        [bonusAgreement]="bonusAgreement">
    </app-activity-bonus-agreement-common-estimated-investments>
  </div>

  <div class="col-4">

    <app-acativity-investments-distribution-table
        #innerFormComponent
        [activity]="bonusAgreement">
    </app-acativity-investments-distribution-table>
  </div>
</div>
