.filter-elements{
    display: flex;
}

.item .mat-hint{
    display: none;
}
.item.mat-form-field-invalid .mat-hint{
    display: block;
    color: #f44336;
}

.filters-dialog-container .mat-form-field{
    width: 100%;
}
.filters-dialog-container{
    flex-direction: row;
}
.filters-dialog-container .item{
    width: 100%;
}
.filters-dialog-container .filter-elements{
    display: flex;
}

.filters-dialog-container.deals-container{
    display: flex;
    flex-wrap: wrap;
}
.filters-dialog-container.deals-container .item{
    margin: 0 10px 10px 0;
}

.type-calendar{
    height: 45px;
    width: 100%;
    border: none;
}

.type-calendar input{
    height: 45px;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    border-color: gray;
}

.type-calendar:focus span label{
    top: 1px!important;
    display: block;
}

.type-calendar>span.is-dirty label{
    font-size: 12px!important;
    top: -6px;
    display: block!important;
}
.type-calendar>span label{
    display: none;
    font-size: 17px;
    top: 25px;
}

.type-calendar>span{
    position: relative;
    left: 0;
    top: -3px;
    display: block;
}